<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<title>Colorize</title>
<style>
.parallax {
    /* The image used */
    background-image: url("https://cdn.dribbble.com/users/1411973/screenshots/3136818/eye-anim.gif");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    font-family: 'Sacramento', cursive;
    font-size:400%;
    background-color: #cce5ff;
    padding: 5px;
}

h2{
    font-family: 'Sacramento', cursive;
    font-size:300%;
    background-color: #cce5ff;
    padding: 5px;
}

button{
    background-color:#000066;
    color: white;
    padding: 0 1em;
    border: none;
    border-radius: 5px;
    margin: 10px 5px;
    width: 15%;
    padding: 5px;

}

.quizButtons{
        text-align: center;
}

button a{
    text-decoration: none;
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 200%;
}


button:hover{
    background-color: #666699;
    transition: .5s;
}

.face{
    margin: 20px;
    
    
}
</style>
</head>
<body>

<center> <h1>colorize</h1> </center>
  

<div class="parallax"></div>

<div style="height:1000px;background-color:lightpink;font-size:3000px, font-family: Sacramento">

<div class="quizButtons">
    <br><br>
<button><a href="content.erb">Face</a></button>
<button><a href="#">Eyes</a></button>
<button><a href="#">Lips</a></button>
</div>
    
<center>
    <br><br>
    <img class="face" src= "https://i.pinimg.com/564x/d9/2f/88/d92f8852845104c2e4045a9c35422e17.jpg" alt="curly" width="269">
    <img class="face" src="https://i.pinimg.com/564x/b9/e5/5d/b9e55dac5cfd25713e7327d75bb738a8.jpg" alt="glitter" width="260">
    <img class="face" src="https://i.pinimg.com/564x/79/3d/e8/793de8c86e97665136dbbaf9fceee9b7.jpg" alt="RiRi" width="290" >
     <img class="face" src="https://i.pinimg.com/564x/b6/36/f6/b636f6d3236d81839442587c4c9fadb8.jpg" alt="crease" width="260">
    <br> <br><br>
    <img class="face" src= "https://i.pinimg.com/564x/eb/87/7b/eb877bfa975878ee9700f68c528bccda.jpg" alt="lipgloss" width="238">
    <img class="face" src= "https://i.pinimg.com/564x/a6/e0/52/a6e052c431628eea9c7a86c92b412a2d.jpg" alt="yellow" width="250">
    <img class="face" src="https://i.pinimg.com/564x/fe/26/53/fe26535f3338fc36ff8bc5c6f96a8d58.jpg" alt="wasian" width="250">
    <img class="face" src= "https://i.pinimg.com/564x/4e/21/18/4e21185b4d0f7e9f48dd73cf725a6834.jpg" alt="jessica" width="215">
    
</center>

<br><br><br>
<center> <h2> Our Mission </h2> </center>
<p> The makeup industry is a major central in millions of people's lives today. Just how the world is full of beautiful diversity, we want to make it easier for women of color to find makeup that meets their individual needs. Colorize aims to colorize the makeup world, and do the research of what suits you, so you don't have to. .</p>
<br><br><br>